/*
=============== 
Case Study Page
===============
*/

.case-study {
  /* 100% of the height of the page minus the height of the navbar minus 198px for... some reason */
  min-height: calc(100vh - 5rem - 198px);
}

.case-study-img {
  max-width: 1024px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  cursor: zoom-in;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding: 2.5rem 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
  cursor: zoom-in;
}

.modal-content-extrazoom {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: contain; */
  cursor: zoom-out;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}
